ignore-scripts=true
audit=true
# WEBAWESOME_NPM_TOKEN must be available in the shell/OS environment used by npm.
# Laravel .env does not automatically export variables to npm.
@web.awesome.me:registry=https://npm.cloudsmith.io/fortawesome/webawesome-pro/
//npm.cloudsmith.io/fortawesome/webawesome-pro/:_authToken=${WEBAWESOME_NPM_TOKEN}
